body {
	line-height: 1.5;
	font-family: Garamond;
	font-size: 18px;
}

.banner {
	width: 25%;;
	margin: auto;
  	display: block; /* Centraliza horizontalmente */
	  border-radius: 15px;
}

.header { background-color: #ffd67e;
	background-color: #ffd67e;
	padding: 10px;
}

.imglogo {
	width: 55px;
	background-image: #FFD67D;
	margin: auto;
  	display: block; /* Centraliza horizontalmente */
}
.principal{
	background: #ffd67e;
	padding: 60px;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	font-size: 30px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 40px;
	background-color: #ffffff;
	color: #000000;
}

p {
	text-align: justify;
}

.paragrafocentro{
	text-align: center;
	font-size: 18px;
	color: #4a392b;
}
#missao {
	font-size: 20px
}

em strong {
	
	text-align: center;
	font-size: 20px;
}

.itens {
	font-style: italic;
	color: #FFD67D;
	font-size: 20px;
}

.pilotos{
	background: #000000;
	padding: 10px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 10%;
	justify-content: center;
}

.imagemferrari {
	padding: 5px;
	border-radius: 15px;
	width: 25%;;
	margin: auto;
  	display: block; /* Centraliza horizontalmente */
}

.imgbrasileiro{
	width: 20%;
	border-radius: 15px;
}

.container-img{
	display: flex;
  	justify-content: center; /* Centraliza horizontalmente */
}

.videoyt {
	display: block;
	margin: auto;
	width: 50%;
}
.paragrafo {	
	text-align: center;
	font-size: 18px;
	color: #492323;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: auto;

}
.titulo-centralizado1 {
	text-align: center;
	font-size: 26px;
	background-color: black;
	color: #687319;
}
